*{
    margin: 0;
    padding: 0;
}

.container1{
    height: 100vh;
    width: 100vw;
    background-color: rgba(108, 108, 223, 0.274);
}



.topcolor{
    height: 8em;
}

.bordercolor1{
  
    width: 33em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(213, 238, 138, 0.621);
    border-radius: 2em;
}

.colorpicker {
    display: inline-block;
    height: 1.6em;
    width: 3em;
    margin: 1em;
    cursor: pointer;
}

/* .cercle {
    transition: 0.2s;
    border-radius: 50%;
    cursor: pointer;
} */
.colorSelected {

    display: inline-block;
    background-color: rgb(20, 20, 20);
    height: 1.6em;
    width: 3em;
    margin: 1em;
    cursor: pointer;
}
