
.body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1{
    min-height: 100vh;
    background-color: rgba(108, 108, 223, 0.274);
}
.top{
    height: 5em;
}

/* .checking {
    display: inline-block;
    height: 1.7em;
    width: 1.7em;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    margin-left:0.7em;
    margin: 0.7em;
} */

.secretCombination {
    display: inline-block;
    height: 2em;
    width: 2em;
    margin: 0.4em;
    cursor: pointer;
    border-radius: 50%;
    border: 0.1em solid black;
}

.colorSelected{
    display: inline-block;
    height: 2em;
    width: 2em;
    margin: 0.4em;
    border-radius: 50%;
    border: 0.1em solid black;
}

.gameball1, .gameball2, .gameball3, .gameball4{
    display: inline-block;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    /* background-color: rgb(121, 68, 33); */
    border-radius: 50%;
    margin: 0.5em;
    border: 0.1em solid black;
    margin-bottom: -0.2em;
}
/* .color{
    background-color: blue;
} */

.gamecheck{
    /* display: inline-block; */
    height: 1em;
    width: 1em;
    margin: 0.2em;
    margin-top: -0.3em;
   
    background-color: rgb(71, 86, 190);
    
  

}
/* .gameline{
    margin: 1em;
} */

/* 
.linegame{
    display: inline-block;
    height: 2em;
    width: 2em;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    margin: 0.7em;
} */

/* 
tablero */

#tablero{
    width: 24em;
    /* border: 0.5em solid; */
}
.fila{
    height: 3em;
    /* background-color: aqua; */
    border-radius: 1em;
    margin: 0.5em;
}
#check{
    height: 2em;
    width: 6em;
    background-color: brown;
    cursor: pointer;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}