
.top{

    height: 5em;
}
.gameline1 {

    display: inline-block;
    height: 1.7em;
    width: 1.7em;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    margin: 0.7em;

}

.gameline2 {
    display: inline-block;
    height: 1.7em;
    width: 1.7em;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    margin-left:0.7em;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0.7em;
    
}

/* .cercle {

    transition: 0.2s;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);

} */

/* .color2 {
    background-color: rgb(20, 20, 20);
} */