.head {
    height:7em;
}
.top{
    height: 7em;
}
.container1{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(108, 108, 223, 0.274);
}
.pic{
    height: 12em;
    width: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 30, 10);
    border-radius: 50em 50em 50em 50em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
}
.shadowCard{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.playButton{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.playButton:hover {
    box-shadow: none; /* Elimina la sombra al pasar el cursor */
}